<%- include('../includes/head.ejs') %>


<!-- Template Stylesheet -->
<link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <!-- Header Start -->
        <%- include('../includes/navbar.ejs') %>

        <!-- Header End -->
          <div class="banner">
             <canvas id="canvas"  width="500px" height="500px" style="width:270px; height:270px  ">cccc</canvas>
                
           </div>
           
    
        
     </div>

        <!-- About Start -->
        <div class="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-6">
                        <div class="about-img">
                           
                            <img src="Shared/img/start.jpg" alt="Image" >
                              
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <div class="about-text">
                            <h2><span>GET</span> STARTED</h2>
                            <p>
                                Learn how to solve complex problems with the use of computers and face the crowd with a
                                strong attitude with our smart educators
                            </p>
                            <p>
                                Welcome to the growing world of Gurukul Learn where we bring together the teachers and
                                students for the interactive classes
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->
        <div class="about">
            <div class="container">
                <div class="row">

                    <div class="col-lg-7 col-md-6">
                        <div class="about-text">
                            <h2><span>BEST</span>FEATURED</h2>

                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5">

                        <P><span>Flexible Coursework</span>
                            Doubt clearing and personal mentorship support to the the children</p>

                        <p><span>Quality Assured</span>
                            The quality of the education will define the destint of the nation! Gurukul Learn takes
                            absolute care of that.</P>


                    </div>
                </div>
            </div>
        </div>
        <!-- feeds -->

        <div class="row">

           
            <div class=" feed  " style="background-color:rgb(117, 143, 143);"> Twitter </div>
            <div class="media">

                <div class="media-body text-dark">
      
                  <ul>
                    <li><i onclick="myFunction(this)" class="fa fa-angle-double-right"></i>&nbsp;&nbsp;
                        Introduction Of Programming Language
                      </li>
                      <li><i onclick="myFunction(this)" class="fa fa-angle-double-right"></i>&nbsp;&nbsp;
                        Object Oriented Programming
                      </li>
                    <li><i onclick="myFunction(this)" class="fa fa-angle-double-right"></i>&nbsp;&nbsp;
                      Web page building
                    </li>
                    <li><i onclick="myFunction(this)" class="fa fa-angle-double-right"></i>&nbsp;&nbsp;
                      website Building
                    </li>
                    <li><i onclick="myFunction(this)" class="fa fa-angle-double-right"></i>&nbsp;&nbsp;
                      Web Hosting
                    </li>
                    <li><i onclick="myFunction(this)" class="fa fa-angle-double-right"></i>&nbsp;&nbsp;
                      Introduction to Android
                    </li>
                    <li><i onclick="myFunction(this)" class="fa fa-angle-double-right"></i>&nbsp;&nbsp;
                        Introduction to Android app making
                    </li>
                    <li><i onclick="myFunction(this)" class="fa fa-angle-double-right"></i>&nbsp;&nbsp;
                      Cyber Crime and Security
                    </li>
                    <li><i onclick="myFunction(this)" class="fa fa-angle-double-right"></i>&nbsp;&nbsp;
                      What is Ethical Hacking and Cyber Fraud
                    </li>
                    
      
                  </ul>
                  <br>
                  <br>
                </div>
              </div>
      

        </div>


        
      

        <!-- feed end -->
        <br>
        <!-- Service Start -->
        <div class="service">
            <div class="container">
                <div class="section-header">

                    <h2>Flexible Coursework</h2>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="service-item">
                            <i class="fa fa-laptop" aria-hidden="true"></i>
                            <h3>Scractch Programming</h3>
                            <p>
                                Scratch is a block-based visual programming language and website targeted primarily at
                                children 8-16 to help learn code. </p><br><br>
                            <a class="btn" href="">Learn More</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 ">
                        <div class="service-item">
                            <i class="fa fa-laptop" aria-hidden="true"></i>
                            <h3>Introduction of Computer Science</h3>
                            <p>
                                Computer science is the study of algorithmic processes, computational machines and
                                computation itself. </p><br><br><br>
                            <a class="btn" href="">Learn More</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="service-item">
                            <i class="fa fa-laptop" aria-hidden="true"></i>
                            <h3>Hardware and Software</h3>
                            <p>
                                Computer hardware is any physical device used in or with your machine, whereas software
                                is a collection of programming code installed on your computer's hard drive. </p>
                            <a class="btn" href="">Learn More</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="service-item">
                            <i class="fa fa-laptop" aria-hidden="true"></i>
                            <h3>Internet<br> Protocol</h3>
                            <p>
                                The Internet Protocol (IP) is the method or protocol by which data is sent from one computer to another on the Internet.
                            </p><br><br><br>
                            <a class="btn" href="">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->


        <!-- Feature Start -->
        <div class="feature">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="section-header left">
                            <p>Why Choose Us</p>
                            <h2>Expert Mentors and Quality Assured education</h2>
                        </div>

                        <a class="btn" href="">Learn More</a>
                    </div>
                    <div class="col-md-7">
                        <div class="row align-items-center feature-item">
                            <div class="col-5">
                                <img src="Shared/img/study1.jpg" alt="Feature">
                            </div>
                            <div class="col-7">
                                <h3>Speaking English</h3>
                                <p>
                                    More and more parents want their children to learn English from a young age. GURUKUL LEARN helps to build a positive attitude towards learning, and towards English as a language.
                                </p>
                            </div>
                        </div>
                        <div class="row align-items-center feature-item">
                            <div class="col-5">
                                <img src="Shared/img/study2.jpg" alt="Feature">
                            </div>
                            <div class="col-7">
                                <h3>Confidence Building</h3>
                                <p>
                                    As children get older, that confidence can be as important as the skills themselves. To thrive, kids need to trust in their own capabilities while, at the same time, knowing that they can handle it if they aren’t successful at something. 
                                </p>
                            </div>
                        </div>
                        <div class="row align-items-center feature-item">
                            <div class="col-5">
                                <img src="Shared/img/study3.png" alt="Feature">
                            </div>
                            <div class="col-7">
                                <h3>Group Discussion</h3>
                                <p>
                                    A group discussion is used as a method to assess the level of confidence, interpersonal skills and decision-making skills of the children. 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Feature End -->

<!-- canvas clock -->

<!-- canvas clock end-->

        <!-- Pricing Plan Start -->
        <!-- <div class="price">
            <div class="container">
                <div class="section-header">
                    <h2>Courses List</h2>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="price-item">
                            <div class="price-header">
                                <div class="price-icon">
                                    <i class="fa fa-home"></i>
                                </div>
                                <div class="price-title">
                                    <h2>Programming<br>(Basic) </h2>
                                </div>

                            </div>
                            <div class="price-body">
                                <div class="price-des">
                                    <ul class="basic">
                                        <li>No. of Classes-34</li>
                                        <li>Duration - 3 months</li>
                                        <li>10,999/- Rs</li>

                                    </ul>
                                    <hr style="width:100%;border-width:3px;text-align:left;margin-left:0; color:black">

                                    <ul class="basic">
                                        <li>No. of Classes-40</li>
                                        <li>Duration - 3 months</li>
                                        <li>15,999/- Rs</li>

                                    </ul>
                                    <hr style="width:100%;border-width:3px;text-align:left;margin-left:0; color:black">

                                    <ul class="basic">
                                        <li>No. of Classes-140</li>
                                        <li>Duration - 12 months</li>
                                        <li>30,999/- Rs</li>

                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="price-item featured-item">
                            <div class="price-header">
                                <div class="price-icon">
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="price-title">
                                    <h2>Programming<br>(advance)</h2>
                                </div>

                            </div>
                            <div class="price-body">
                                <div class="price-des">

                                    <ul class="advance">
                                        <li>No. of Classes-34</li>
                                        <li>Duration - 3 months</li>
                                        <li>12,999/- Rs</li>

                                    </ul>
                                    <hr style="width:100%;border-width:3px;text-align:left;margin-left:0; color:black">
                                    <ul class="advance">
                                        <li>No. of Classes-70</li>
                                        <li>Duration - 6 months</li>
                                        <li>20,999/- Rs</li>

                                    </ul>
                                    <hr style="width:100%;border-width:3px;text-align:left;margin-left:0; color:black">
                                    <ul class="advance">
                                        <li>No. of Classes-140</li>
                                        <li>Duration - 12 months</li>
                                        <li>49,999/- Rs</li>

                                    </ul>


                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="price-item">
                            <div class="price-header">
                                <div class="price-icon">
                                    <i class="fa fa-home"></i>
                                </div>
                                <div class="price-title">
                                    <h2>Atitude Developement<br>(Basic) </h2>
                                </div>

                            </div>
                            <div class="price-body">
                                <div class="price-des">
                                    <ul class="basic">
                                        <li>No. of Classes-20</li>
                                        <li>Duration - 1 months</li>
                                        <li>5,999/- Rs</li>

                                    </ul>
                                    <hr style="width:100%;border-width:3px;text-align:left;margin-left:0; color:black">

                                    <ul class="basic">
                                        <li>No. of Classes-40</li>
                                        <li>Duration - 3 months</li>
                                        <li>40,999/- Rs</li>

                                    </ul>
                                    <hr style="width:100%;border-width:3px;text-align:left;margin-left:0; color:black">

                                    <ul class="basic">
                                        <li>No. of Classes-90</li>
                                        <li>Duration -6 months</li>
                                        <li>28,999/- Rs</li>

                                    </ul>

                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="price-item featured-item">
                            <div class="price-header">
                                <div class="price-icon">
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="price-title">
                                    <h2>Atitude Developement<br>(Advance)</h2>
                                </div>

                            </div>
                            <div class="price-body">
                                <div class="price-des">
                                    <ul class="advance">
                                        <li>No. of Classes-20</li>
                                        <li>Duration - 1 months</li>
                                        <li>8,999/- Rs</li>

                                    </ul>
                                    <hr style="width:100%;border-width:3px;text-align:left;margin-left:0; color:black">

                                    <ul class="advance">
                                        <li>No. of Classes-40</li>
                                        <li>Duration - 1 months</li>
                                        <li>18,999/- Rs</li>

                                    </ul>
                                    <hr style="width:100%;border-width:3px;text-align:left;margin-left:0; color:black">

                                    <ul class="advance">
                                        <li>No. of Classes-90</li>
                                        <li>Duration - 6 months</li>
                                        <li>35,999/- Rs</li>

                                    </ul>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Pricing Plan End -->










        <!-- Footer Start -->
        <%- include('../includes/footer.ejs') %>
        <!-- Footer End -->


        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/home.js"></script>
</body>

</html>